.card {
    display: inline-block;
    margin-left: 460px;
    margin-top: 20px;


}

h1 {
    font-size: 5rem;
    color: white;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 red;
  text-align: center;
    display: block;
    margin-top: 20px;
}
#result-name,
#result-email,
#result-password
{
    margin-left: 20px;

}



html,
body {
    overflow: hidden;

    
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;



}

p {
    font-family: 'Noto Sans', sans-serif;
}

hr {
    background-color: white;
}

.tag {
    margin-left: 257px;
}

.lead1 {
    font-size: 23px;
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
}
.tag2{
    float: left;
}
.text-center {
    text-align: left!important;
}
.num{
    margin-left: 18px;
    padding-right: 4px;
}
